/*Typography*/
body{
  font-family:$font-family-general;
  font-size:14px;
}
h1,h2,h3,h4,h5{
  font-family: $font-family-heading;
  line-height:2rem;
}

/*template overrides...*/
body{-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;}
nav.navbar{z-index: 100;}
#top-navbar form input{width:30vw;}
#top-navbar ul.navbar-nav li.nav-item{margin-right: 10px;}
.modal-header{background: $primary;color:white;
    .close{color:white;}
}
div#bzintlShowcaseModal {
    .modal-header{
        input{background: $primary;color:white;width:100%;border:0;padding:10px;}
    }
    .showcase_list{
        a{padding:10px;line-height: 40px;}
    }
}

.card.bzintl{
    background: #f5f5f5;padding:0;margin:0;color:$primary;border:0;font-size:0.9em;
    .card-body{padding:0;}
    .card-text{padding:10px;}
    .card-title{background:lighten($primary,5%);padding:10px;text-align: center;}
    form{margin:0;padding:0;
        .form-group{background:none;margin:0 0 20px 0;padding:0;}
    }
}
.rounded{border-radius:10px !important;}
.leftbar li,.rightbar li{font-size:0.9rem;}

table td {
  vertical-align: middle !important;
}

input::placeholder {
  color:#ced4da !important;
}
input:focus::placeholder{
  color:#dddddd !important;
}

// Model
#puyModal .modal-content{border:0;}
.modal-header .close{cursor: pointer;}

/*Layout*/
ul.list-unstyled.rhs li{margin:8px 0;}

/*pushy menu overwrite*/
nav.pushy{
    background-color: $primary !important;
    top:76px;
    font-size:14px;
    button {color:white;border-bottom:1px solid lighten($primary,5%);}
    button:focus{box-shadow:none !important; -webkit-box-shadow: none;}
    a{padding:5px 30px;}
    ul{
        padding:0;
        list-style: none;
        ul{margin-left:20px;}
    }

    footer{
        margin-top:20%;margin-left:20px;
        a{color:$info;font-size:0.8rem;padding:0 20px;}
    }

    .pushy-submenu{
      >a::after,>button::after{
        background:url("../assets/img/arrow.svg") no-repeat;
        opacity: 0.5;
      }
    }
    // .pushy-submenu-open{
    //   >a::after,>button::after{
    //     filter: invert(10%) sepia(50%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    //   }
    // }
}

.menu-btn{
    width: 85px;
    height: 76px;
    font-size:1.5em;
    padding: 22px 0 0 28px;
    text-align: center;
    margin:-30px 30px -30px -16px;
    cursor: pointer;
    border: 0px;

    &:hover{
    }

    &:active{
        box-shadow: none !important;
    }  
}

/*hambuger Icon*/
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 40px;
    position: relative;
    //margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 0;
    opacity: 0.8;
    right: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 15px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 30px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

/*Resources*/
.bzintl_resources{
    margin-top: 20px;

    .content{
        background: white;
    }

    article{
        padding:30px;
        h1 a{font-size:0.7em;}
    }

    .tags label a{padding:10px;}

    .user_info{margin-bottom: 30px;}
    .mini_credit span{margin:0;font-size:0.9em;float: left;padding: 3px 5px;}
    }

.fullwidth{
  margin-left: -15px;
  margin-right: -15px;
  padding:20px;
}


/*Admin*/
.form-group{background:#f8f9fa;margin:10px;padding:10px;}
tr.row_disabled{
  color:$red;
  a{color:$red;}
}

.bzintl_admin{
  margin-top: 20px;

  .posts{
      padding:15px;
      h1 a{font-size:0.7em;}
  }
  }


@media only screen and (max-width: 992px) {

    .menu-btn{
        height:70px;
        margin-right:5px;
        &:focus{
            
        }
    }

    nav.pushy{
        top:67px;
    }

    nav.navbar .navbar-brand{width:50%;
        img{width:100%;}
    }

}