$primary:       #223a75;
$info:     #5DDBBF;
$body-bg:       $info;

$btn-border-radius:30px;
$btn-border-radius-lg:$btn-border-radius;
$btn-border-radius-sm:$btn-border-radius;
$btn-padding-x:1.5rem;

$modal-content-border-radius:0;
$input-border-radius:0;

//$font-family-base:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$font-family-heading:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$font-family-general:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; ;