/*Setup Bootstrap*/
$primary:       #223a75;
$info:     #5DDBBF;
$body-bg:       $info;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;


//$font-family-base:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$font-family-base:"Open Sans", helvetica, arial, sans-serif;
@import "./node_modules/bootstrap/scss/bootstrap";

/*setting up fontawesome css*/
$fa-font-path:"webfonts";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

/*Pushy:Pushy is a responsive off-canvas navigation menu*/
$menu_width: 300px;
@import "./node_modules/@cmyee/pushy/scss/pushy";

/*bzintl css*/
@import "bzintl.scss"