$primary:       #223a75;
$info:     #5DDBBF;
$body-bg:       $info;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

//$font-family-base:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$font-family-base:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$font-family-secondary:Georgia,Times,Times New Roman,serif;